<%= form_with(model: @meme, local: true) do |m| %>
    <div class="content-panel">
        <form class="form-horizontal">
            
            <fieldset class="fieldset">
                <h3 class="fieldset-title">Meme info</h3>
                <div class="form-group">
                    <%= m.label :name, class: "col-md-2 col-sm-3 col-xs-12 control-label" %>
                    <div class="col-md-10 col-sm-9 col-xs-12">
                        <%= m.text_field :name, {class: "form-control"}%>
                    </div>
                </div>
                <div class="form-group">
                    <%= m.label :author, class: "col-md-2 col-sm-3 col-xs-12 control-label" %>
                    <div class="col-md-10 col-sm-9 col-xs-12">
                        <%= m.text_field :author, {class: "form-control"}%>
                    </div>
                </div>
                <div class="form-group">
                    <%= m.label :description, class: "col-md-2 col-sm-3 col-xs-12 control-label" %>
                    <div class="col-md-10 col-sm-9 col-xs-12">
                        <%= m.text_field :description, {class: "form-control"} %>
                    </div>
                </div>
                <div class="form-group">
                    <%= m.label :image_url, {class: "col-md-2 col-sm-3 col-xs-12 control-label"} %>
                    <div class="col-md-10 col-sm-9 col-xs-12">
                        <%= m.text_field :image_url, {class: "form-control"} %>
                    </div>
                </div>
            </fieldset>
            
            <hr>
            <div class="form-group">
                <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                    <%= m.submit "Save Changes", {class: "btn btn-primary"} %>
                </div>
            </div>
        </form>
    </div>
<% end %>