<%= form_with(model: meme, local: true) do |m| %>
    <div class="content-panel">
        <form class="form-horizontal">
            
            <fieldset class="fieldset">
                <h3 class="fieldset-title">Meme info</h3>

                <%= render "shared/errors", object: meme %>

                <div class="form-group">
                    <%= m.label :name, class: "control-label" %>
                    <%= m.text_field :name, {class: "form-control"}%>
                </div>
                <div class="form-group">
                    <%= m.label :author, class: "control-label" %>
                    <%= m.text_field :author, {class: "form-control"}%>
                </div>
                <div class="form-group">
                    <%= m.label :description, class: "control-label" %>
                    <%= m.text_field :description, {class: "form-control"} %>
                </div>
                <div class="form-group">
                    <%= m.label :image_file_name, {class: "control-label"} %>
                    <%= m.text_field :image_file_name, {class: "form-control"} %>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="meme_categories">Categories</label>
                    <%= m.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
                        <%= b.label class: "form-check-input" do %>
                            <%= b.check_box(class: "form-check-input") %> 
                            <%= b.text %>
                        <%end%>
                    <% end %>
                </div>
            </fieldset>
            
            <hr>
            <div class="form-group">
                <div class="btn-bar">
                    <% if meme.new_record? %>
                        <%= m.submit "Add Meme", {class: "btn btn-primary"} %>
                        <%= link_to "Cancel", root_path, class: "btn btn-primary" %>
                    <% else %>
                        <%= m.submit "Update Meme", {class: "btn btn-primary"} %>
                        <%= link_to "Cancel", meme_path, class: "btn btn-primary" %>
                    <% end %>
                </div>
            </div>
        </form>
    </div>
<% end %>