<!-- <ul>
  <% @memes.each do |meme| %>
    <section>
      <div class="summary">
        <h2><%= "#{meme.id}: #{meme.name}" %></h2>
        <p>Created by <%= meme.author %> on <%= date(meme) %></p>
        <h4><%= meme.description %></h4>
        
        <% if meme.no_review? %>
          <h2>This meme was not rated yet</h2>
        <% else %>
          <h2>Stars: <%= meme.stars %></h2>
          <p>Review: <%= truncate(meme.review, length: 70, separator: '') %></p>
        <% end %>
        </p> 
      </div>
    </section>
  <% end %>
</ul> -->


<section class="section gray-bg" id="blog">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-7 text-center">
                <div class="section-title">
                    <h2>Latest Memes</h2>
                    <h4>Here you will find all the latest Memes from the Ruby World</h4>
                </div>
            </div>
        </div>
        <div class="row">

            <% i = 1 %>
            <% t = 0 %>
            <% size = @memes.length %>
            <% while i <= size do %>
    
            <% meme = @memes.find_by(id:i) %>
            <% if t == 0 %>
                <div class="col-lg-4">
                    <div class="blog-grid">
                        <div class="blog-img">
                            <div class="date"><%= day_month(meme) %></div>
                            <a href=<%= meme_path(meme.id) %>>
                                <img src="https://pm1.narvii.com/6131/81907585d56af524cd827732bba8391851830bb7_hq.jpg" title="" alt="">
                            </a>
                        </div>
                        <div class="blog-info">
                            <h5><a href=<%= meme_path(meme.id) %>><%= meme.name %></a></h5>
                            <p><%= truncate(meme.review, length: 70, separator: '') %></p>
                            <div class="btn-bar">
                                <a href=<%= meme_path(meme.id) %> class="px-btn-arrow">
                                    <span>Read More</span>
                                    <i class="arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
            
            <% if t == 1 %>  
                <div class="col-lg-4">
                    <div class="blog-grid">
                        <div class="blog-img">
                            <div class="date"><%= day_month(meme) %></div>
                            <a href=<%= meme_path(meme.id) %>>
                                <img src="https://pm1.narvii.com/6131/81907585d56af524cd827732bba8391851830bb7_hq.jpg" title="" alt="">
                            </a>
                        </div>
                        <div class="blog-info">
                            <h5><a href=<%= meme_path(meme.id) %>><%= meme.name %></a></h5>
                            <p><%= truncate(meme.review, length: 70, separator: '') %></p>
                            <div class="btn-bar">
                                <a href=<%= meme_path(meme.id) %> class="px-btn-arrow">
                                    <span>Read More</span>
                                    <i class="arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>

            <% if t == 2 %> 
                <div class="col-lg-4">
                    <div class="blog-grid">
                        <div class="blog-img">
                            <div class="date"><%= day_month(meme) %></div>
                            <a href=<%= meme_path(meme.id) %>>
                                <img src="https://pm1.narvii.com/6131/81907585d56af524cd827732bba8391851830bb7_hq.jpg" title="" alt="">
                            </a>
                        </div>
                        <div class="blog-info">
                            <h5><a href=<%= meme_path(meme.id) %>><%= meme.name %></a></h5>
                            <p><%= truncate(meme.review, length: 70, separator: '') %></p>
                            <div class="btn-bar">
                                <a href=<%= meme_path(meme.id) %> class="px-btn-arrow">
                                    <span>Read More</span>
                                    <i class="arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <% t -= 3 %> 
            <% end %>
            <% i += 1 %>
            <% t += 1 %>
            <% end %>
        </div>
    </div>
</section>