<%= form_with(model: user, local: true) do |u| %>
    <div class="content-panel">
        <% if user.new_record? %>
            <h2 class="title">Sign Up</h2>
            <h4 class="center">Become a member to upload your own memes and review them!</h4>
        <% else %>
            <h2 class="title">Profile <span class="pro-label label label-warning">
            <% if user.admin_status == true %>
                PRO
            <% else %>
                MEMEBER
            <% end %>
            </span></h2>
        <% end %>
        <form class="form-horizontal">

            <fieldset class="fieldset">
                <h3 class="fieldset-title">Avatar</h3>
                <div>
                    <%= u.label :profile_image, class: "control-label" %>
                    <%= u.select :profile_image, User::AVATAR_OPTIONS,
                        prompt: "Pick an avatar" %>
                </div>
            </fieldset>
            <fieldset>
                <h3 class="fieldset-title">Profile info</h3>
                <div class="form-group">
                    <%= u.label :name %>
                    <%= u.text_field :name, {class: "form-control"} %>
                </div>

                <div class="form-group">
                    <%= u.label :email %>
                    <%= u.text_field :email, {class: "form-control"}%>
                </div>

                <div class="form-group">
                    <%= u.label :password %>
                    <%= u.password_field :password, {class: "form-control"} %>
                </div>
                <div class="form-group">
                    <%= u.label :password_confirmation, "Confirm Password" %>
                    <%= u.password_field :password_confirmation, {class: "form-control"} %>
                </div>
            </fieldset>
            <hr>
            <div class="form-group">
                <div class="btn-bar">
                    <% if user.new_record? %>
                        <%= u.submit "Create Account", {class: "btn btn-primary"} %>
                        <%= link_to "Cancel", root_path, class: "btn btn-primary" %>
                    <% else %>
                        <%= u.submit "Update Account", {class: "btn btn-primary"} %>
                        <%= link_to "Delete", @event, method: :delete, 
                            data: { confirm: "Are you sure you want to delete this user?" }, class: "btn btn-primary" 
                        %>
                    <% end %>
                </div>
            </div>
        </form>
    </div>
<% end %>  