<div class="content-panel">
    <h2 class="title">Liked Memes <span class="pro-label label label-warning">
    <% if user.admin_status == true %>
        PRO
    <% else %>
        MEMEBER
    <% end %>
    </span></h2>
    <fieldset class="fieldset">
        <h3 class="fieldset-title">Memes</h3>
    </fieldset>
    <% user.liked_memes.each do |meme| %>
        <fieldset class="fieldset">
            <div class="blog-grid">
                <div class="blog-img">
                    <div class="date"><%= day_month(meme) %></div>
                    <a href=<%= meme_path(meme) %>>
                    <%= image_tag meme.image_file_name, style: 'height:320px;width:320px;' %>
                    </a>
                </div>
                <div class="blog-info">
                    <h5><a href=<%= meme_path(meme) %>><%= meme.name %></a></h5>
                    <p><%= truncate(meme.description, length: 90, separator: '') %></p>
                    <div class="btn-bar">
                    <a href=<%= meme_path(meme) %> class="px-btn-arrow">
                        <span>Learn More</span>
                        <i class="arrow"></i>
                    </a>
                    </div>
                </div>
            </div>
        </fieldset>
    <% end %>
</div>