<div class="content-panel">
    <h2 class="title">Reviews <span class="pro-label label label-warning">
    <% if user.admin_status == true %>
        PRO
    <% else %>
        MEMEBER
    <% end %>
    </span></h2>
    <fieldset class="fieldset">
        <h3 class="fieldset-title"><%= pluralize(user.reviews.size, 'Review') %></h3>
    </fieldset>
    <% user.reviews.each do |r| %>
        <fieldset class="fieldset" style="padding-top: 10px">
            <div class="blog-grid">
                <div class="blog-info">
                    <% r.stars.to_i.times do %>
                        <span class="fa fa-star checked"></span>
                    <% end %>
                    <% (5 - r.stars.to_i).times do %>
                        <span class="fa fa-star"></span>
                    <% end %>
                    <h4>From <%= r.user.name %></h4>
                    <p><%= r.review %></p>
                    <small><%= day_month(r) %></small>
                    <%= link_to "Edit", edit_meme_review_path(r.meme.slug, r), class: "px-btn-arrow" %>
                </div>
            </div>
        </fieldset>
    <% end %>
</div>