<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <%= render "shared/errors", object: @user %>
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <%= image_tag @user.profile_image, class: "img-profile img-circle img-responsive center-block" %>
                        <ul class="meta list list-unstyled">
                            <li class="name"><%= @user.name.capitalize %>
                                <label class="label label-info"><%= pro_or_memeber(@user) %></label>
                            </li>
                            <li class="email"><%= mail_to(@user.email) %></li>
                            <li class="activity">Memeber since: <%= time_ago_in_words(@user.created_at) %> ago</li>
                        </ul>
                    </div>
            		<nav class="side-menu">
        				<ul class="nav">
                            <li class="<%= 'active' if which_page == 'profile' %>"><%= link_to edit_user_path(@user) do %>
                                <span class="fa fa-user"></span> Profile
                            <% end %></li>
                            <li class="<%= 'active' if which_page == 'memes' %>"><%= link_to user_resource_pages_path(@user, 'memes') do %>
                                <span class="fa fa-th"></span> Memes
                            <% end %></li>
                            <li class="<%= 'active' if which_page == 'reviews' %>"><%= link_to user_resource_pages_path(@user, 'reviews') do %>
                                <span class="fa fa-star-half-o" aria-hidden="true"></span> Reviews
                            <% end %></li>
                            <li class="<%= 'active' if which_page == 'likes' %>"><%= link_to user_resource_pages_path(@user, 'likes') do %>
                                <span class="fa fa-thumbs-o-up" aria-hidden="true"></span> Likes
                            <% end %></li>
        				</ul>
        			</nav>
                </div>
                <% if which_page == 'reviews' %>
                    <%= render 'reviews', user: @user %>
                <% elsif which_page == 'memes' %>
                    <%= render 'memes', user: @user %>
                <% elsif which_page == 'likes' %>
                    <%= render 'likes', user: @user %>
                <% else %>
                    <%= render 'form', user: @user %>
                <% end %>
            </div>
        </section>
    </div>
</div>