<ul>
  <% @rubymemes.each do |meme| %>
    <li>
      <%= meme.id %>
      <b> Name </b><%= meme.name %>
      <b> Author: </b><%= meme.author %>
      <b> Description: </b><%= meme.description %>
      <b> Created on: </b><%= date(meme) %> 
    </li>
    <p>
      <%= show_review(meme) %>
    </p>
  <% end %>
</ul>