<!-- <ul>
  <% @rubymemes.each do |meme| %>
    <li>
      <b> Author: </b><%= meme.author %>
      <b> Description: </b><%= meme.description %>
      <b> Created on: </b><%= date(meme) %> 
    </li>
    <p>
      <%= show_review(meme) %>
    </p>
  <% end %>
</ul> -->

<ul>
  <% @rubymemes.each do |meme| %>
    <section>
      <div class="summary">
        <h2><%= "#{meme.id}: #{meme.name}" %></h2>
        <p>Created by <%= meme.author %> on <%= date(meme) %></p>
        <h4><%= meme.description %></h4>
        
        <% if meme.no_review? %>
          <h2>This meme was not rated yet</h2>
        <% else %>
          <h2>Stars: <%= meme.stars %></h2>
          <p>Review: <%= truncate(meme.review, length: 70, separator: '') %></p>
        <% end %>
        </p> 
      </div>
    </section>
  <% end %>
</ul>