<%= form_with(model: [@object, @review], local: true) do |r| %>
    <div class="content-panel">
        <form class="form-horizontal">
            
            <fieldset class="fieldset">
                <h3 class="fieldset-title">Meme info</h3>
                <%= render "shared/errors", object: @review %>
                
                <div class="form-group">
                    <%= r.label "Name", class: "control-label" %>
                    <%= r.text_field "Name", value: current_user.name, class: "form-control", disabled: true %>
                </div>

                <div class="form-group">
                    <%= r.label "Email", class: "control-label" %>
                    <%= r.email_field "Email", value: current_user.email, class: "form-control", disabled: true %>
                </div>

                <div class="form-group">
                    <%= r.label :review, class: "control-label" %>
                    <%= r.text_field :review, {class: "form-control"}%>
                </div>

                <div class="form-group">
                    <%= r.label :stars, class: "control-label" %>
                    <%= r.select :stars, [1, 2, 3, 4, 5], prompt: "Pick a number" %>
                </div>
            </fieldset>
            
            <hr>
            <div class="form-group">
                <%= r.submit "Submit", {class: "btn btn-primary"} %>
                <%= link_to "Discard Changes", :back || meme_reviews_path(@object), class: "btn btn-primary" %>
            </div>
        </form>
    </div>
<% end %>