<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row text-center">
        <h2>Reviews from <%= @object.name %></h2>
    </div>
    <div class="row">
        
        <% @reviews.each do |r| %>
            <fieldset class="fieldset" style="padding-top: 10px">
                <div class="blog-grid">
                    <div class="blog-info">
                        <% r.stars.to_i.times do %>
                            <span class="fa fa-star checked"></span>
                        <% end %>
                        <% (5 - r.stars.to_i).times do %>
                            <span class="fa fa-star"></span>
                        <% end %>
                        <h4>From <%= r.user.name %></h4>
                        <p><%= r.review %></p>
                        <small><%= day_month(r) %></small>
                        <% if current_user?(r.user) %>
                            <% if @object.class == Meme %>
                                <%= link_to "Edit", edit_meme_review_path(r.meme, r), class: "px-btn-arrow" %>
                            <% else %>
                                <%= link_to "Edit", edit_user_review_path(r.user, r), class: "px-btn-arrow" %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </fieldset>
        <% end %>
    </div>
    <div class="row text-center">
    <% if @object.class == Review %>
        <%= link_to "Add a Review", new_meme_review_path, class: "px-btn-arrow" %>
    <% end %>
    </div>
</div>