<div class="container">
    <div class="row text-center">
        <h2>Reviews for <%= link_to @meme.name, meme_path(@meme) %></h2>
    </div>
    <div class="row">
        
        <% @reviews.each do |review| %>
            <div class="col-lg-4">
                <div class="blog-grid">
                    
                    <div class="blog-info">
                        <h5><%= review.stars %> stars</h5>
                        <h4>From <%= review.username %></h4>
                        <p><%= review.review %></p>
                        <small><%= day_month(review) %></small>
                        <%= link_to "Edit", edit_meme_review_path(@meme, review), class: "px-btn-arrow" %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div class="row text-center">
        <%= link_to "Add a Review", new_meme_review_path, class: "px-btn-arrow" %>
    </div>
</div>