<div class="container">
    <div class="row text-center">
        <h2>Reviews from <%= @object.name %></h2>
    </div>
    <div class="row">
        
        <% @reviews.each do |review| %>
            <div class="col-lg-4">
                <div class="blog-grid">
                    
                    <div class="blog-info">
                        <h5><%= review.stars %> stars to <%= get_meme(@object, review).name %></h5>
                        <h4>From <%= get_user(review).name %></h4>
                        <p><%= review.review %></p>
                        <small><%= day_month(review) %></small>
                        <% if current_user?(get_user(review)) %>
                            <% if @object.class == Meme %>
                                <%= link_to "Edit", edit_meme_review_path(review.meme_id, review), class: "px-btn-arrow" %>
                            <% else %>
                                <%= link_to "Edit", edit_user_review_path(review.user_id, review), class: "px-btn-arrow" %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div class="row text-center">
    <% if @object.class == Review %>
        <%= link_to "Add a Review", new_meme_review_path, class: "px-btn-arrow" %>
    <% end %>
    </div>
</div>